<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <section>
        <label for="input-task">Inserisci task</label>
        <input type="text" id="input-task" v-model="newTask" />
        <button @click="addTask">Add</button>
      </section>
      <h1>{{ title }}</h1>
      <ul>
        <li v-for="(task, index) in tasks" :key="`task-${index}`">
          {{ task }}
          <span :class="{done: task.done}">{{ task[`text`]}}</span>
          <button @click="removeTask(index)">x</button>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
  </body>
</html>
